*{ margin: 0; padding: 0;}
body{
	background: #191919;
	font: 100%/1.4em Verdana, Tahoma, arial, sans-serif;
	text-align: center;
	color: #EEE;
}
a{
	text-decoration: none;
	color: #88CCF7;
}
a:hover{
	color: #FFF;
}
img{
	padding: 8px 5px 0 0;
}
h1{
	font: bold 115%/1.4em Verdana, Tahoma, arial, sans-serif;
	color: #EEE;
	float: left;
	margin: 20px 10px 5px 10px;
	display: inline;
}
h2{
	font: bold 80%/1.4em Verdana, Tahoma, arial, sans-serif;
	color: #EEE;
	float: left;
	margin: 5px 0;
	display: inline;
	width: 270px;
	text-align: left;
}
#wrap{
	width: 990px;
	margin: 0 auto;
	background: #191919;
}
#header{
	width: 990px;
	height: 130px;
	background: transparent url(../images/header.jpg) no-repeat center top;
	float: left;
	margin: 0px 0 0 0;
}
	#header .logo{
		float: left;
		width: 300px;
		height: 120px;
	}
	#header .email{
		float: right;
		width: 350px;
		height: 30px;
		margin: 5px 70px 0 0;
		display: inline;
		letter-spacing: 3px;
	}
#banner{
	width: 990px;
	height: 300px;
	float: left;
	background: transparent url(../images/main-banner.jpg) no-repeat center top;
}
	#banner .banner-content{
		width: 660px;
		height: 250px;
		float: right;
		margin: 22px;
		display: inline;
	}
	#banner .banner-content p{
		text-align: justify;
		font: 80%/1.4em Verdana, Tahoma, arial, sans-serif;
		margin: 10px;		
	}
#content{
	width: 990px;
	background: #000 url(../images/main-bg.gif) repeat-x center top;
	padding: 0 0 20px 0;
}
#main{
	width: 690px;
	float: left;
	display: inline;	
}
	#main .block{
		width: 340px;
		float: left;
		margin: 0 5px 0 0;
		display: inline;
		overflow: hidden;
	}
		#main .block p{
			width: 320px;
			text-align: justify;
			float: left;
			padding: 5px 10px;
			font: 70%/1.4em Verdana, Tahoma, arial, sans-serif;
		}
	#main .main-block{
		width: 680px;
		float: left;
		margin: 0 5px 0 0;
		display: inline;
		overflow: hidden;
	}
	#main .main-block  p{
		width: 660px;
		text-align: justify;
		float: left;
		padding: 5px 10px;
		font: 70%/1.4em Verdana, Tahoma, arial, sans-serif;		
	}
	#main .main-block  ul.list{
		float: left;
		text-align: left;
		font: normal 80%/1.4em Verdana, Tahoma, arial, sans-serif;
		margin: 10px 20px;
		display: inline;
	}
	#main .main-block  ul.list li{
		padding: 3px 30px;
		margin: 4px 0;
		background: transparent url(../images/icons/right-bullet.png) no-repeat left 50%;
	}
		#main .main-block  ul.list li.delete{
			background: transparent url(../images/icons/delete-bullet.png) no-repeat left 50%;
		}
		#main .main-block  ul.list li.bold{
			background: transparent url(../images/icons/right-bullet.png) no-repeat left top;
			font-weight: bold;
		}
	#main .main-block  ul.normal-list{
		float: left;
		text-align: left;
		font: normal 80%/1.4em Verdana, Tahoma, arial, sans-serif;
		margin: 0 40px;
		display: inline;
		width: 650px;
	}
	#main .main-block  ul.normal-list li{
		list-style: circle;
		margin: 5px 0;
	}
	#main .main-block h2{
		font: bold 80%/1.4em Verdana, Tahoma, arial, sans-serif;
		color: #EEE;
		float: left;
		margin: 20px 10px 5px 10px;
		padding: 0 0 5px 0;
		clear: both;
		border-bottom: 1px solid #333;
		width: 100%;
	}
	#main .main-block h3{
		font: bold 70%/1.4em Verdana, Tahoma, arial, sans-serif;
		color: #EEE;
		float: left;
		margin: 5px 10px 5px 20px;
		padding: 0 0 5px 5px;
		clear: both;
		border-bottom: 1px solid #333;
		width: 100%;
		text-align: left;
	}
	#main .main-block p.quote{
		width: 600px;
		margin: 10px 20px;
	}
		#main .main-block p.quote.green{
			border-left: 3px solid #83D00C;
		}
		#main .main-block p.quote.blue{
			border-left: 3px solid #389FFA;
		}
	#main .main-block p.higlight{
		font: bold 80%/1.4em Verdana, Tahoma, arial, sans-serif;
		color: #389FFA;
		padding: 10px 20px;
		background: #222;
	}
	#main .main-block p.post-footer{
		background: #111;
		margin: 10px 0;
	}
	#main .main-block p.post-footer .category{
		float: left;
	}
	#main .main-block p.post-footer .author{
		float: right;
		margin: 0 10px 0 0;
	}
	#main p.comment{
		border-bottom: 1px solid #222;
		margin: 0 0 0 20px;
		display: inline;
	}
	#main p.comment .comment-by{
		float: left;
		font: bold italic 100%/1.4em Verdana, Tahoma, arial, sans-serif;
		margin: 0 0 0 -10px;
		padding: 5px;
		background: #161616;
		text-align: left;
	}
	#main .main-block img{
		border: 1px solid #444;
		padding: 5px;
		margin: 10px;
	}
#side-bar{
	width: 290px;
	float: right;
	display: inline;
}
	#side-bar .side-block{
		float: left;
		margin: 10px 0 0 10px;
		display: inline;
		overflow: hidden;
	}
		#side-bar .side-block p{
			width: 270px;
			text-align: justify;
			float: left;
			padding: 0 10px 0 0;
			margin: 0 0 15px 0;
			font: 70%/1.4em Verdana, Tahoma, arial, sans-serif;
			display: inline;
		}
			#side-bar .side-block p.quote{
				width: 220px;
				border-left: 3px solid #83D00C;
				margin: 10px 0px 15px 15px;
				padding: 5px 10px 5px 20px;
				display: inline;
			}
				#side-bar .side-block p.quote.green{
					border-left: 3px solid #83D00C;
				}
				#side-bar .side-block p.quote.blue{
					border-left: 3px solid #389FFA;
				}
		#side-bar .side-block h3{
			font: bold 80%/1.4em Verdana, Tahoma, arial, sans-serif;
			border-bottom: 1px solid #222;
			text-align: left;
			padding: 5px 10px;
		}
		
#footer{
	width: 990px;
	height: 120px;
	float: left;
	background: transparent url(../images/footer-bg.gif) repeat-x left bottom;
	margin: 0 0 15px 0;
	display: inline;
}
	#footer .footer-left{
		float: left;
		width: 200px;
		display: inline;
	}
		#footer .footer-left ul.validation{
			float: left;
			display: inline;
			margin: 0 13px;
		}
			#footer .footer-left ul.validation li{
				float: left;
				margin: 0 15px;
				font: 75%/1.4em Verdana, Tahoma, arial, sans-serif;
				display: inline;
			}
		#footer .footer-right{
			width: 780px;
			float: right;
			display: inline;
		}
/*------------- menus -----------*/
ul,li{
	list-style: none;
	margin: 0; padding: 0;
}
#header ul.menu{
		float: right;
		width: 680px;
		height: 50px;
		margin: 40px 0 0 10px;		
	}
	#header ul.menu li{
		float: left;
		margin: 15px 16px;
		text-align: center;
	}
		#header ul.menu li a{
			font: normal 90%/1.4em Verdana, Tahoma, arial, sans-serif;
			color: #FFF;
		}
			#header ul.menu li a:hover{
				color: #4FB9FC;
			}
ul.top-nav{
	float: left;
}
	ul.top-nav li{
		float: left;
		margin: 20px 29px 0 29px;
		height: 60px;
		display: block;
		display: inline;
	}
		ul.top-nav li.download{
			background: transparent url(../images/icons/download.png) no-repeat left bottom;
		}
		ul.top-nav li.screenshots{
			background: transparent url(../images/icons/screenshots.png) no-repeat left bottom;
		}
		ul.top-nav li.sponcer{
			background: transparent url(../images/icons/donate.png) no-repeat left bottom;
		}
		ul.top-nav li a{
			display: block;
			padding: 30px 15px 5px 75px;
			color: #FFF;
			font: normal 90%/1.4em Verdana, Tahoma, arial, sans-serif;
		}
/* ---- vertical image menu */
ul.vertical-image-menu{
	float: left;
	text-align: left;
	margin: 0 10px 10px 8px;
	display: inline;
}
	ul.vertical-image-menu li{
		padding: 3px;
		height: 60px;
		margin: 5px 0;
	}
		ul.vertical-image-menu li.help{
			background: transparent url(../images/icons/help.png) no-repeat left bottom;
		}
		ul.vertical-image-menu li.realese{
			background: transparent url(../images/icons/help.png) no-repeat left bottom;
		}
		ul.vertical-image-menu li.bugs{
			background: transparent url(../images/icons/report-bugs.png) no-repeat left bottom;
		}
		/*----------- add additional vertical-image-menu items here e.g-: background: transparent url(path to the image) no-repeat left bottom;-----------*/
		ul.vertical-image-menu li a{
			display: block;
			font: 70%/1.4em Verdana, Tahoma, arial, sans-serif;
			padding: 20px 0 0 70px;
			color: #EEE;
		}
		ul.vertical-image-menu li a:hover{
			color: #B2DFFB;
		}
			ul.vertical-image-menu a span.item-title{
				display: block;
				font: bold 130%/1.4em Verdana, Tahoma, arial, sans-serif;
			}
/* horisontal image menu */
ul.horizontal-image-menu{
	float: left;
	text-align: center;
	margin: 20px 0 0 0;
}
	ul.horizontal-image-menu li{
		float: left;
		text-align: center;
		width: 100px;
		height: 120px;
		margin: 0 5px;
	}
		ul.horizontal-image-menu li.team{
			background: transparent url(../images/icons/team.png) no-repeat center top;
		}
		ul.horizontal-image-menu li.devs{
			background: transparent url(../images/icons/dev.png) no-repeat center top;
		}
		ul.horizontal-image-menu li.sponcer{
			background: transparent url(../images/icons/sponcer.png) no-repeat center top;
		}
		ul.horizontal-image-menu li a{
			font: 70%/1.4em Verdana, Tahoma, arial, sans-serif;
			display: block;
			width: 100px;
			height: 120px;
			color: #EEE;
		}
		ul.horizontal-image-menu li a:hover{
			color: #B2DFFB;
		}
			ul.horizontal-image-menu a span.item-title{
				display: block;
				font: bold 130%/1.4em Verdana, Tahoma, arial, sans-serif;
				padding: 70px 0 0 0;
			}
/* ----------- side navigation ---------------- */
ul.side-nav{
	float: left;
	text-align: left;
	margin: 0 0 10px 0;
	display: block;
}
ul.side-nav li{
	width: 240px;
	display: block;
	padding: 3px 10px;
	border-bottom: 1px solid #222;
}
ul.side-nav li a{
	font: normal 90%/1.4em Verdana, Tahoma, arial, sans-serif;
}
/* bottom navigation */
ul.bottom-nav{
	float: right;
	margin: 10px 0 20px 0;
	display: block;
	width: 520px;
}
	ul.bottom-nav li{
		float: left;
		text-align: center;
		margin: 0 10px 0 0;
		color: #333;
		display: inline;
	}
	ul.bottom-nav li a{
		font: 70%/1.4em Verdana, Tahoma, arial, sans-serif;
		color: #EEE;
	}
	ul.bottom-nav li a:hover{
		color: #B2DFFB;
	}
/*--------- calenders ---------*/
span.small-calender{
	width: 45px;
	height: 55px;
	float: left;
	margin: 5px 0 0px 0;
	padding: 0 10px 0 0;
	overflow: hidden;
	text-align: center;
	background: transparent url(../images/icons/small-calendar.png) no-repeat left top;
}
	span.small-calender span.year{
		display: block;
		padding: 3px 2px 0 0;
	}
	span.small-calender span.date{
		display: block;
		padding: 0 2px 0 0;
		font: bold 130% Verdana, Tahoma, arial, sans-serif;
		color: #444;
	}
	span.small-calender span.month{
		display: block;
		padding: 0 1px 0 0;
		font: normal 90% Verdana, Tahoma, arial, sans-serif;
		color: #444;
	}
/* ---------------- tabs ------------------- */
#main .main-block ul.tabs{
	float: left;
	margin: 20px 0 0 20px;
	display: inline;
}
	#main .main-block ul.tabs li{
		float: left;
		margin: 0 10px;
	}
	#main .main-block .tab-content{
		float: left;
		width: 650px;
		margin: 5px 0 0 20px;
		border: 2px solid #222;
		display: inline;
	}
		#main .main-block .tab-content #member{
			border-bottom: 1px solid #333;
			float: left;
		}
		#main .main-block .tab-content #member img{
			border: 1px solid #444;
			padding: 2px;
			margin: 13px 5px;
			float: left;
		}
		#main .main-block .tab-content #member ul{
			float: left;
			text-align: left;
			font: normal 80% Verdana, Tahoma, arial, sans-serif;
			margin: 5px 0 15px 20px;
		}
		#main .main-block .tab-content #member ul li{
			margin: 2px 0;
			padding: 1px 0;
			width: 510px;
			float: left;
		}
/* froms */
ul.form{
	margin: 10px;
}
ul.form li{
	margin: 5px 0 5px 0;
	float: left;
}
ul.form li.button{
	clear: both;
	display: block;
	float: left;
	margin: 15px 0 0 95px;
	width: 500px;
	text-align: left;
	display: inline;
}
label{
	width: 80px;
	display: block;
	float: left;
	font: normal 80% Verdana, Tahoma, arial, sans-serif;
	margin: 0 15px 0 0;
	padding: 0;
	text-align: right;
}
em{
	display: block;
	font: normal 70% Verdana, Tahoma, arial, sans-serif;
	color: #83D00C;
}
input{
	border: 1px solid #333;
	padding: 3px;
	background: #222;
	color: #FFF;
}
select{
	width: 300px;
	border: 1px solid #333;
	padding: 3px;
	background: #222;
	color: #FFF;
}
textarea{
	border: 1px solid #333;
	padding: 3px;
	background: #222;
	color: #FFF;
	width: 500px;
	height: 180px;
	font: normal 80%/1.5em Verdana, Tahoma, arial, sans-serif;
}
textarea.entry{
	height: 300px;
}
.clear{
	clear: both;
}
.read-more{
	float: right;
	margin: 10px 5px 0 0;
	padding: 0;
	font-weight: bold;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.bold-italic{
	font-weight: bold;
	font-style: italic;
}
.green-font{
	color: #83D00C;
}
/* specific class */
.bottom-logo{
	margin: 25px 25px;
	font: bold 120% Verdana, Tahoma, arial, sans-serif;
	display: inline;
	float: left;
}
.dsec{
	display: block;
	font: normal 50% Verdana, Tahoma, arial, sans-serif;
	margin: 5px 0;
}
p.rights{
	float: right;
	margin: 15px 15px 0 0;
	font: normal 70% Verdana, Tahoma, arial, sans-serif;
	display: inline;
	width: 400px;
	text-align: right;
}
a.design{
	width: 100px;
	margin: 10px 0 0 35px;
	display: block;
	background: #AAA;
	height: 25px;
	float: left;
	float: right;
}

