[Desktop Entry]
Encoding=UTF-8
Name=Classic Backdrop Plugin
Type=Background
Comment=Renders a static raster image
X-PLEXYDESK-Library=classicbackdrop
