[Desktop Entry]
Encoding=UTF-8
Name=Plexydesk Desktop View Plugin
Type=DesktopView
Comment=PlexyDesk View Plugin
X-PLEXYDESK-Library=plexydesktopview
