Source: plexydesk
Section: x11
Priority: extra
Maintainer: PhobosK <phobosk@kbfx.net>
Build-Depends:  debhelper (>= 5),
                cdbs,
                cmake,
                libqt4-dev (>= 4.7.0),
                libqt4-opengl-dev (>= 4.7.0),
                libqtwebkit-dev,
                ffmpeg (>= 0.cvs20070307),
                libavformat-dev (>= 0.cvs20070307),
                libavutil-dev (>= 0.cvs20070307),
                libavcodec-dev (>= 0.cvs20070307),
                libsm-dev (>= 1.1.1-1),
                libxext-dev (>= 1.0.4-1),
                libxcomposite-dev (>= 0.4.1-1),
                libxdamage-dev (>= 1.1.2-1),
                libqimageblitz-dev,
                libxrender-dev
Standards-Version: 3.9.1
Homepage: http://www.plexyplanet.org

Package: plexydesk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         shared-mime-info,
         ffmpeg (>= 0.cvs20070307),
         libqimageblitz4 (>= 0.0.4),
         libqt4-declarative,
         libqt4-dbus,
         libqtwebkit4,
         libqtwebkit-qmlwebkitplugin
Description: A Desktop extension which lets you efficiently organise and use
 your Desktop.
 .
 PlexyDesk is a lightweight Desktop, and it's not a Desktop Environment like
 KDE or GNOME.
 PlexyDesk will render your workspace and help organise all your information
 with a touch, yes heard us right.
 PlexyDesk will support multi touch screens.
 PlexyDesk might not be the new Desktop Environment you came looking for, but
 it will be the Ultimate Desktop Experience you would ever get.
 The aim of the PlexyDesk Team is to create "A Desktop which is easy to
 communicate with, Create and Simply cool!"
