body {
background: #eeeeee;
}

.circle {
opacity : 1.0;
height: 64px;
width: 64px;
border-radius: 6px;
-webkit-box-shadow: 0 0 5px #888;
float: left;
margin-top : 20px;;
margin-left : 10px;
}

.bubble {
opacity : 1.0;
margin-top: 5px;
background-color: #ffffff;
width : 98%;
overflow: auto;
-webkit-box-shadow: 0 0 5px #888;
-webkit-border-radius: 4px;
color: #888888;
text-shadow: 0px 0px 0px #fff;
font-size : 10pt;
border-left: solid 6px #608489;
color: #222;
text-shadow: 0px 0px 0px #555;
color: #424242;
font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
letter-spacing:0.1em;
margin: 40px auto;
text-transform: lowercase;
line-height: 145%;
font-size: 10pt;
font-variant: small-caps;
opacity : 0;
-webkit-transition: opacity 1s linear;
}

.bubble p{
opacity : 1.0;
margin-top : 20px;
margin-left : 100px;
width:60%;
position: absolute;
overflow: hidden;
text-overflow: ellipsis;
}

.imagedropshadow {
padding:10px;
margin:10px;
align:center;
border-color: #eeeeee;
border-radius: 6px;
-webkit-box-shadow: 0 0 5px #888;
width:85%;
}

