body
{
	background:#eee;
}

.circle
{
	-webkit-box-shadow:0 0 5px #888;
	border-radius:6px;
	float:left;
	height:64px;
	margin-left:10px;
	margin-top:20px;
	opacity:1.0;
	width:64px;
}

.bubble
{
	-webkit-border-radius:4px;
	-webkit-box-shadow:0 0 5px #888;
	-webkit-transition:opacity 1s linear;
	background-color:#fff;
	border-left:solid 6px #608489;
	color:#424242;
	font-family:"Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	font-size:10pt;
	font-variant:small-caps;
	letter-spacing:.1em;
	line-height:145%;
	margin:10px auto;
	opacity:0;
	overflow:auto;
	text-shadow:0 0 0 #555;
	text-transform:lowercase;
	width:98%;
}

.bubble p
{
	margin-left:100px;
	margin-top:20px;
	opacity:1.0;
	overflow:hidden;
	position:absolute;
	text-overflow:ellipsis;
	width:60%;
}

.imagedropshadow
{
	-webkit-box-shadow:0 0 5px #888;
	align:center;
	border-color:#eee;
	border-radius:6px;
	margin:4px;
	padding:4px;
}