/*
 * Contact Mani Shankar <da.sharp.17@gmail.com>
 *
 * This CSS is wrote using VIM
 *
 * All regards to my Mother who has been resposinble
 * for what I am now.
 *
 *  Three Cheers to Free Software and RMS
 */



html, body {
	border: 0;
	margin: 0;
	padding: 0;

}

body {
	font: 80%/1 sans-serif, helvetica, sans-serif;
	line-height: 140%;
	background: #6f6d6d;
	width: 100%
	min-width: 970px;
}

/********* Comman Formatting *********/

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;

}

/*Have to Make h1 look metallic, using metallic letters*/

/*
h1 {
}

*/

p ul#main_menu, ol#main_menu {
	margin: 0;
	/*padding: 0;*/
}

/********* Links *********/

/*a#main_menu {
	text-decoration: underline;
	color: #808080;
}

a#main_menu:hover {
	text-decoration: underline;
	color: #FFFFFF;
}*/

/********* Tables *********/

table {
	border:0;
	padding: 0;
	/*margin: 0;*/

}

a { 
	color:white; 
  }

a:hover {
	color:gray;
}




img { border:0;}

/********* Global Classes *********/

.clear {clear: both;}

.alignleft {float: left;}

.alignright {float: right;}

.text-left {text-align: left;}

.text-right {text-align: right;}

.text-center {text-align: center;}

.text-justify {text-align: justify;}

.bold {font-weight: bold;}

.italic {font-style: italic;}

.underline {font-style: underline;}

.highlight {background: #FFFFCC; }

.img-left {float: left; margin: 4px 0 4px 10px;}

.img-right {float: right;  margin: 4px 10px 4px 0;}

.nopadding {padding: 0;}

.noindent {margin-left: 0; padding-left: 0;}

.nobullet {list-style: none; list-style-image: none}

.noborder {border: none;}

/********* Main Layout *********/

#container {
	text-align: center;
	width: 100% ;
	height: 100%;
	margin-top: 7px;
	position: relative;
	top: -8px;
	float: left;
}

#wrapper {
	background: url('../images/wrap.png') repeat-y center;
	display: block;
	width: 970px;
	text-align: center; /*IE fix to center the page*/
	margin: 0 auto; /* center the page in firefox */

}

.end {
	clear: both;
}

/********* Header Menu II *********/

.header {
	margin : 0;
	margin-top : 0px;
	margin-bottom: 15px;
	padding: 0;
	width: 970px;
	text-align: center:
}

.header ul {
	text-align: center;
	list-style-type: none;
	float: left;
	width: 970px;
	margin: 0;
	margin-left: 25px;
	/*margin-bottom: 15px;*/
	padding: 0;
	display: inline;

}
.header a {
	/*color: #bdbbbb;*/
	display: block;
	float: left;
	width: 114px;
	height: 100px;
	padding: 14px 0px 14px 0px;
	border: none;
	text-decoration: none;
	/*border-right:0px solid white;*/
}

.header a:hover {
	color: "#FFFFFF";
	background: url('../images/blackbuttonhover.png') no-repeat;
}




/********* bugfix *********/


ul.menubar,
.menubar ul{
	margin: 0;
	padding: 0;
	cursor: default;
	list-style-type: none;
	display: inline;
}

ul.menubar{
	display: table;
}
ul.menubar>li{
	display: table-cell;
	position: relative;
	padding: 0px 0px;
}


ul.menubar>li:hover{
	padding-right: 0px;
} [*]

ul.menubar li>ul{
	display: none;
	position: absolute;
	
	margin-left: 0px;
	margin-top: 0px;
}

ul.menubar li:hover>ul{
	display : block;
}

.menubar ul li a{
	display: block;
	padding: 0px 0px;

}

ul.nav,
.nav ul,
.nav ul li a{
	background-color: #fff;
	color: #369;
	background: url('../images/blackbuttonhover.png') no-repeat;
}


ul.menubar li {
	background: url('../images/blackbutton.png') no-repeat;
}

ul.menubar li:hover,
.menubar ul li a:hover{
	background-color: #369;
	color: #fff;
	background: url('../images/blackbuttonhover.png') no-repeat;
}

ul.menubar li:active,
.menubar ul li a:active{
	background-color: #036;
	color: #fff;
	background: url('../images/blackbuttonhover.png') no-repeat;
}

ul.menubar,
.menubar ul{
	border: 0px solid #369;
}

.menubar a{
	text-decoration: none;
}






/********* bugfix *********/

/********* Content *********/


.write_main {
	color: #ffffff;
	text-align : left;
	padding: 0;
	margin: 0;
	margin-left: 55px;
	margin-right:55px;

}

.img_noborder {
	margin: 0;
	padding: 0;
	border: 0;
	float: right;
	margin-right: 50px;
}

#video {
	margin: 0;
	padding: 0;
	float : right;
	margin-right: 50px;
	margin-left: 10px;
	/*background: url('../images/videobutton.png') no-repeat center;*/
}

#video a {
	background: url('../images/videobutton.png') no-repeat center top;
	display: block;
	margin: 0;
	padding: 0;
	width: 182px;
	/*height: 42px;*/
	padding-bottom: 11px;
	padding-top: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.end {
	clean: both;
}



.divider {
	margin: 0;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 0;
	color: #6f6d6d;
	width: 770px;

}

.divider_nomargin {
	margin: 0;
	margin-left: 100px;
	margin-right: 100px;
	width: 770px;
	padding: 0;
	color: #6f6d6d;
}

/********* NEWS *********/
.news {
	float: left;
	width: 400px;
	height: 600px;
	margin: 0;
	margin-left: 50px;
	text-align: left;
	padding: 0;
	border: 0;
	color: #ededcc;
}

.news p{
	color: #FFFFFF;
}

.news ul{
	margin: 0;
	margin-left: 25px;
	padding: 0;
	border: 0;
	list-style-image: url('../images/bullet.png');
}

.news a {
	color: #ededcc;
	border: 0;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-weight: bold;
}

.news a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

/*********  --  *********/

.block_left {
	float : left;
	text-align: left;
	/*position: relative;9*/
	width : 400px;
	/*height: 350px;*/
	margin: 0;
	margin-left: 50px;
	margin-right: 10px;
	color: #ededcc;
}

.block_right {
	float: right;
	text-align: left;
	width: 400px;
	/*height: 350px;*/
	margin: 0;
	margin-left: 10px;
	margin-right: 50px;
	color: #ededcc;

}


.content_list_left {
	width: 210px;
	float: left;
	text-align: left;
	color: #ededcc ;
	list-style-image: url('../images/bullet.png');
	margin: 0;
	margin-left: 125px;
	margin-right: 50px;
	padding: 0;
	border: 0;
}


.content_list_right {
	width: 210px;
	float: right;
	text-align: left;
	color: #ededcc;
	list-style-image:  url('../images/bullet.png');
	margin: 0;
	margin-left: 50px;
	margin-right: 125px;
	padding: 0;
	border: 0;
}

.content_list {
	/*float: center;*/
	text-align: left;
	color: #ededcc;
	list-style-image:  url('../images/bullet.png');
	margin: 0;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	border: 0;
}

.block {
	width: 470px;
	float : left;
	background: url('../images/content_bg1_wrap.png') repeat-y left top;
	color: #ededcc;
	margin: 0;
	padding: 0;
	border: 0;
	position: relative;
	left: 15px;

}

.block p {
	color: #ededcc;
	text-align: left;
	padding: 0px;
	margin: 0;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 25px;
}

/*.big_block {
	width: 970px;
	margin: 0;
	margin-top: 100px;
	border: 0;
	padding: 0;
	background: url('../images/.png') repeat-y center;
	text-align: center;
}*/


/********* Spice *********/

.hide_image1 {
	margin: 0;
	border: 0;
	padding: 0;
	background: url('../images/header.png') no-repeat center;
	height: 409px;
}

.hide_image2 {
	margin: 0;
	border: 0;
	padding: 0;
 	background: url('../images/bottom.png') no-repeat center;
	width: 970px;
	height: 42px;
}

.hide_image3 {
	margin: 0;
	border: 0;
	padding: 0;
	background: url('../images/content_bg1_top.png') no-repeat center;
	width : 470px;
	height: 114px;

}

.hide_image4 {
	margin: 0;
	border: 0;
	padding: 0;
	background: url('../images/content_bg1_bottom.png') no-repeat center;
	width: 470px;
	height: 18px;

}

.hide_image5 {
	 margin: 0;
	 border: 0;
	 padding: 0;
	 background: url('../images/top.png') no-repeat center;
	 width: 970px;
	 height: 42px;
}








